.widget{
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .title{
            font-weight: bold;
            font-size: 14px;
            color: rgb(171, 167, 167);
        }

        .date{
            font-size: 12px;
            font-weight: 300;

            .icon{
                font-size: 15px;
                padding: 5px;
                color:rgb(255, 136, 0);
            }
        }

        .link{
            width: max-content;
            font-size: 10px;
            border-bottom: 1px solid gray;
        }

    }
}