.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);
  
    .chartGrid {
      stroke: rgba(228, 228, 228, 0.219);
    }
  
  
    .navbar {
      color: #999;
      border-color: #333;
  
      .search {
        border-color: gray;
      }

      .dropdown{
        background-color: #111;
      }
    }
  
    .sidebar {
      background-color: #111;
      border-color: #333;
  
      .top {
        .logo {
          color: rgb(255, 136, 0);;
        }
      }
      hr {
        border-color: #333;
      }
  
      ul {
        li {
          &:hover {
            background-color: #333;
          }
  
          .icon {
            color: rgb(255, 136, 0);;
          }
        }
      }
    }

    .datatable{
        .datagrid{
            color: gray;
            border: none;
            a{
                color: rgb(179, 169, 169);
            };
        }
    }
  
    input{
        background-color: transparent;
    }


  }

  